.CardFooter {
  border-top: 1px solid #efefef;
  font-weight: 300;
  color: #999999;
  margin: 20px;
  padding: 8px 3px 10px;
  height: 45px;
  line-height: 45px;
}

.AddComment {
  display: inline-block;
}

.AddComment .new-comment {
  border: 0;
  height: 20px;
  line-height: 20px;
}

.AddComment .new-comment:focus {
  outline: none;
  box-shadow: none;
}

.CardFooter .footer-menu {
  display: inline-block;
  background-color: green;
	background: url('../../public/img/sprites2.png') no-repeat -319px -57px;
	width: 23px;
	height: 5px;
}

.CardFooter .footer-left {
  float: left;
}

.CardFooter .footer-right {
  float: right;
}